<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%
      let name = '';
      let sport_id = '';

      if (flag_detail) {
        name = details.sport_name;
        sport_id = details.sport_id;
      } else {
        name = arr_sport.sport_name;
        sport_id = arr_sport.sport_id
      }
    %>
    <%- include partials/header.ejs %>
    <!-- <%- include partials/breadcrumbs.ejs %> -->


    <div class="container">
      <h1>Details for <%- name %></h1>
      <div class="row">
        <table>
          <thead>
            <tr>
                <th>ID</th>
                <th>Room</th>
                <th>Capacity</th>
                <th>Price</th>
                <th>Available</th>
                <th>Booked</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% if (flag_detail) {
                details.forEach(detail => { %>
            <tr>
              <td><%- detail.id %></td>
              <td><%- detail.room %></td>
              <td><%- detail.capacity %></td>
              <td><%- detail.price %></td>
              <td><%- detail.avail %></td>
              <td><%- detail.booked %></td>
              <td>
                <a href="/admin/detail/update/<%- detail.id %>"><i class="material-icons">mode_edit</i></a>
                <a href="/admin/detail/delete/<%- detail.id %>" onclick="return confirm('Are you sure?')">
      <i class="material-icons">delete</i>
            </a>
              </td>
            </tr>
            <%  })
              }%>
          </tbody>
        </table>
      </div>
      <div class="row">
        <a href="/admin/detail/insert?sport_id=<%= sport_id%>" class="btn waves-effect waves-light">Create New Detail</a>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
