<!DOCTYPE html>
<html>
  <head>
    <title>Admin Sport</title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <%
      let name = '';
      let venue_id = '';

      if (flag_sport) {
        name = sports[0].Venue.name;
        venue_id = sports[0].Venue.id;
      } else {
        name = arr_venue.venue_name;
        venue_id = arr_venue.venue_id
      }
    %>

    <div class="container">
      <h1>Sports for <%- name %></h1>
      <div class="row">
        <table>
          <thead>
            <tr>
                <th>ID</th>
                <th>Sport Name</th>
                <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <%  if (flag_sport) {
                  sports.forEach(sport => { %>
            <tr>
              <td><%- sport.id %></td>
              <td><%- sport.name %></td>
              <td>
                <a href="/admin/sport/update/<%- sport.id %>"><i class="material-icons">mode_edit</i></a></a>
                <a href="/admin/detail/?sport_id=<%- sport.id %>"><i class="material-icons">view_list</i></a>
                <a href="/admin/sport/delete/<%- sport.id %>" onclick="return confirm('Are you sure?')"><i class="material-icons">delete</i></a>
              </td>
            </tr>
            <%    })
                } %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <a href="/admin/sport/insert?venue_id=<%= venue_id%>" class="btn waves-effect waves-light">Create New Sport</a>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
