<!DOCTYPE html>
<html>
  <head>
    <title>Create Detail</title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>


    <div class="container">
      <h1>Create Detail for <%- sport_name %></h1>
      <form class="col s12" action="/admin/detail/insert/?sport_id=<%- sport_id %>" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input value="<%- sport_id %>" id="sport_id" type="hidden" class="validate" name="sport_id">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="room" type="text" class="validate" required  name="room">
            <label for="room">Room</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="capacity" type="number" class="validate" min=1 name="capacity" required>
            <label for="capacity">Capacity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="price" type="number" class="validate" min=10000 name="price" onkeyup="changePrice()" required>
            <label for="price">Price</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="price_user" type="text" class="validate" name="price_user" required readonly>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="avail" type="text" class="validate" required name="avail">
            <label for="avail">Availability</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="booked" type="text" class="validate" name="booked">
            <label for="booked">Booked</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light" type="submit" name="button">Create</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
