<!DOCTYPE html>
<html>
  <head>
    <title>Update Detail Data</title>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <%- include partials/header.ejs %>
    <div class="container">
      <h1>Update <%- detail.room%> for <%- sport_name %></h1>

      <form class="col s12" action="/admin/detail/update/<%- detail.id %>" method="post">

        <div class="row">
          <div class="input-field col s12">
            <input value="<%- detail.sport_id %>" id="sport_id" type="hidden" class="validate" name="sport_id">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="room" type="text" required class="validate" name="room" value="<%- detail.room %>">
            <label for="room">Room</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="capacity" type="number" required class="validate" name="capacity" min="1" value="<%- detail.capacity %>">
            <label for="capacity">Capacity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="price" type="number" class="validate" min=10000 name="price" onkeyup="changePrice()" value="<%- detail.price%>">
            <label for="price">Price</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="price_user" type="text" class="validate" name="price_user" value="<%- detail.price_user%>" readonly>
            <label for="price_user">User Price</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="avail" type="text" class="validate" name="avail" value="<%- detail.avail %>">
            <label for="avail">Availability</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="booked" type="text" class="validate" name="booked" value="<%- detail.booked %>">
            <label for="booked">Booked</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light" type="submit">Update</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
