<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>

    <div class="container">
      <div class="row">
        <h1><%- venue.name%> - <%- venue.Sports.name%></h1>
        <div class ="col s6">
          <img class="responsive-img" src="<%- venue.Sports.img %>"/>
        </div>
        <% venue.Sports.SportDetails.forEach((detail)=>{ %>
          <div class="col s2"><%- detail.room %></div>
          <div class="col s2">
            <div class="row">Price</div>
            <div class="row">Availability</div>
            <div class="row">Capacity</div>
          </div>
          <div class="col s2">
            <div class="row">Rp <%- detail.price_user %></div>
            <% if(detail.avail === "") detail.avail = "-" %>
            <div class="row"><%- detail.avail %></div>
            <div class="row"><%- detail.capacity %></div>
          </div>
        <% })%>
        <div class="col s6">CP : <%- venue.contact %></div>
      </div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
