<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
      <div class = "iris">
         <div class = "card transparent z-depth-5">
         </div>
         <div class="input-field col s12">
           <form method="post">
             <select name="location" style="display:block">
               <option value="" disabled selected>Choose location</option>
               <% locations.forEach(location => { %>
                  <option value="<%- location %>"><%- location %></option>
               <% }) %>
             </select>
             <select name="sport" style="display:block">
               <option value="" disabled selected>Choose sport</option>
               <% sports.forEach(sport => { %>
                  <option value="<%- sport %>"><%- sport %></option>
               <% }) %>
             </select>
             <button type="submit" name="button">Search</button>
           </form>
         </div>
      </div>
  </body>
</html>
