<!DOCTYPE html>
<html>
  <head>
    <title>SPORT FINDER</title>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/coba.css">
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="rumah">
      <div class="container">
        <h2>Sport Finder</h2>
        <form method="POST">
          <div class="row">
            <div class="col s6">
              <select name="location" style="display:block" required>
                <option value="" disabled selected>Choose location</option>
                <% locations.forEach(location => { %>
                   <option value="<%- location %>"><%- location %></option>
                <% }) %>
              </select>
            </div>
            <div class="col s6">
              <select name="sport" style="display:block" required>
                <option value="" disabled selected>Choose sport</option>
                <% sports.forEach(sport => { %>
                   <option value="<%- sport %>"><%- sport %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <button class="btn"type="submit" name="button">Search</button>
        </form>
        <!-- <a class="btn" href="#">Search Now</a> -->
      </div>
    </div>
  </body>
</html>
