<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <h1>Create Sport for Venue <%- venue_id %></h1>
    <div class="container">
      <form class="col s12" action="/admin/sport/insert/?venue_id=<%- venue_id %>" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input value="<%- venue_id %>" id="venue_id" type="hidden" class="validate" name="venue_id">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name" required>
            <label for="name">Sport Name</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light" type="submit" name="button">Create</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
