<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <h1>Update Sport for Venue <%- sport.venue_id %></h1>
    <div class="container">
      <form class="col s12" action="/admin/sport/update/<%- sport.id %>" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input value="<%- sport.venue_id %>" id="venue_id" type="hidden" class="validate" name="venue_id">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name" value="<%- sport.name %>" required>
            <label for="name">Sport Name</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light" type="submit">Update</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
