<!DOCTYPE html>
<html>
  <head>
    <title>Update Sport Data</title>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="container">
      <h1>Update <%- sport.name%> for <%- venue_name %></h1>
      <form class="col s12" action="/admin/sport/update/<%- sport.id %>" method="post">
        <div class="row">
          <div class="input-field col s12">
            <input value="<%- sport.venue_id %>" id="venue_id" type="hidden" class="validate" name="venue_id">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name" value="<%- sport.name %>" required>
            <label for="name">Sport Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="img_sport" type="url" class="validate" name="img" required value="<%- sport.img%>" onfocusout="fillImg()">
            <label for="img_sport">Image</label>
          </div>
        </div>
        <div class="input-field col s12">
          <img src="<%- sport.img%>" id="shw_img_sport" class="responsive-img"/>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light" type="submit">Update</button>
        </div>
      </form>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
